* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(60deg, #020887, #34F6F2 );
    color: white;
    font: normal 15pt Segoe UI;
    background-attachment: fixed;
}

.text {
    font-size: 30px;
    text-align: justify;
}

h2 {
    padding-bottom: 10px;
    padding-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.container input{
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}

.container img{
    height: 250px;
    width: 350px;
    text-align: center;
    margin: 30px;
    border-radius: 5px;
}

.container a {
    color: #94BFBE;
}

.container li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#som {
    display: flex;
    text-align: center;
    width: 250px;
    height: 100px;
}

.info {
    text-align: justify;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}

.info a{
    color: #94BFBE;
    font: menu;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 12px;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
    font: message-box;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: justify;
    height: 100px;
    width: 100%;
    border: 1px solid rgb(88, 87, 87);
    border-radius: 2px;
    color: rgb(39, 38, 38);
    background-image: linear-gradient(130deg, #7365c4, #36b2b6); 
}

.barra em{
    color: #00ffc8;
    letter-spacing: 2px;   
}

.barra span{
    color: rgb(0, 245, 255);
}

.barra a{
    color: aquamarine;
    letter-spacing: 2px;  
}

.barra audio{
    display: flex;
    text-align: end;
    min-width: 0px;
    min-height: 0px;
    max-width: 250px;
    max-height: 100px;
}

